{% extends "layout.html" %}
{% block title %}

    change password

{% endblock %}
{% block main %}

    <div class="whole-page-form">
        <form action="/change_password" method="post">
            <div class="input-line">
                <div class="input-left">
                    <p>Password</p>
                </div>
                 <div>
                    <input class="input" name="password" type="password" autocomplete="off" autofocus>
                </div>
            </div>
           <div class="input-line">
               <div class="input-left">
                   <p>New password</p>
               </div>
               <div>
                    <input class="input" name="new_password" type="password" autocomplete="off">
                </div>
           </div>
            <div class="input-line">
                <div class="input-left">
                    <p>Confirm</p>
                </div>
                <div>
                    <input class="input" name="new_password_confirm" type="password" autocomplete="off">
                </div>
            </div>
            <div id="normal-btn">
                <button class="corner-btn">Change password</button>
            </div>

        </form>
    </div>

{% endblock %}