{% extends "layout.html" %}
{% block title %}

    login

{% endblock %}
{% block main %}
    <div class="whole-page-form">
        <form action="/login" method="post">
            <div class="input-line-login">
                <div class="input-left">
                    <p>Username</p>
                </div>
                <div>
                    <input class="input" name="username" type="text" autocomplete="off" autofocus>
                </div>
            </div>
            <div class="input-line-login">
                <div class="input-left">
                    <p>Password</p>
                </div>
                <div>
                    <input class="input" name="password" type="password" autocomplete="off">
                </div>
            </div>
            <div id="login-btn">
                <button class="corner-btn">Log in</button>
            </div>
        </form>
    </div>


{% endblock %}